body {
    padding: 0;
    margin: 0;
    font-size: 12pt;

    --theme-color: white;
    --theme-background-color: black;
    background-color: var(--theme-background-color);
    color: var(--theme-color);
}
body[theme = "light"] {
    --theme-color: black;
    --theme-background-color: white;
}
.topbar {
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: min-content;
    margin: 0;
    background-color: var(--theme-background-color);
    color: var(--theme-color);
    font-size: 15pt;
}
.bar-item {
    border-width: 2pt;
    border-radius: 0;
    border-color: var(--theme-color);
    border-style: solid;;
    margin: 0;
    padding: 0;
    color: inherit;
}
.logo {
    padding: 5pt;
}
.theme-select {
    padding: 5pt;
}
.content {
    margin: 10pt;
    display: flex;
    flex-direction: column;
}
.page {
    width: 600pt;
    align-self: center;
}
.topbar-fill {
    flex-grow: 1;
}
.about {
    padding: 5pt;
    margin: 0;
    height: 100%;
    font-size: inherit;
    text-decoration: none;
}
.about:hover {
    background-color: var(--theme-color);
    color: var(--theme-background-color);
}
.about:focus {
    border-color: #0083fd;
}
.home {
    padding: 5pt;
    margin: 0;
    height: 100%;
    font-size: inherit;
    text-decoration: none;
}
.home:hover {
    background-color: var(--theme-color);
    color: var(--theme-background-color);
}
.home:focus {
    border-color: #168fff;
}
.theme-select-input {
    font-size: 40pt;
}